/*----------------------------------------------------------
   PMFORMAT.C -- Ein Formatierprogramm fr Disketten

   Modul 7b: Resource-Datei englisch

   Version 1.1 - 15.4.1991
   Version 1.2 - 9.6.1991
   Version 1.3 - 9.11.1991  > neue Dialog-Box ID_DISKSTAT;
   Version 1.31- 9.2.1992
   Version 2.0 - 20.9.1992  > OS/2 2.0-Version fr C Set/2
                              neue Dialogbox fr Hauptfenster
                              neue Textstrings fr FORMAT-Button
                              neue Textstrings fr Titlezeile
   Version 2.11- 8.4.1994   > Korrigierte Versionsprfung
   Version 2.15- 9.3.2000   > Entfernung des Registrierdialogs
   Version 2.16 - 4.5.2000  > DosSetCurrentDir wegen Help-Datei
  ----------------------------------------------------------*/
#define INCL_PM

#include <OS2.H>
#include "PMFORMAT.H"
#include "PMFMTHLP.H"

POINTER ID_ICON pmformat.ico

RCINCLUDE pmfmtus.dlg

HELPTABLE IDH_MAIN
    {
    HELPITEM ID_FORMAT,   IDH_SUBTAB1, PANEL_MAIN
    HELPITEM ID_DISKSTAT, IDH_SUBTAB2, PANEL_DSKDATA
    HELPITEM ID_OPTIONS,  IDH_SUBTAB3, PANEL_MAIN
    HELPITEM ID_WARNING,  IDH_SUBTAB4, PANEL_MAIN
    }

HELPSUBTABLE IDH_SUBTAB1
    {
    HELPSUBITEM DID_LW_A,    PANEL_DRIVE
    HELPSUBITEM DID_LW_B,    PANEL_DRIVE
    HELPSUBITEM DID_LW_SPIN, PANEL_DRIVE
    HELPSUBITEM DID_DD,      PANEL_TYPE
    HELPSUBITEM DID_HD,      PANEL_TYPE
    HELPSUBITEM DID_ED,      PANEL_TYPE
    HELPSUBITEM DID_SP,      PANEL_TYPE
    HELPSUBITEM DID_FORMAT,  PANEL_FORMAT
    HELPSUBITEM DID_ENTRY,   PANEL_LABEL
    }

HELPSUBTABLE IDH_SUBTAB2
    {
    }

HELPSUBTABLE IDH_SUBTAB3
    {
    HELPSUBITEM DID_OK,      PANEL_OPTIONS
    HELPSUBITEM DID_CANCEL,  PANEL_OPTIONS
    HELPSUBITEM DID_STD,     PANEL_BTNTYPE
    HELPSUBITEM DID_EXT,     PANEL_BTNTYPE
    HELPSUBITEM DID_CHECK,   PANEL_CHECK
    }

HELPSUBTABLE IDH_SUBTAB4
    {
    HELPSUBITEM DID_OK,      PANEL_WARNING
    HELPSUBITEM DID_CANCEL,  PANEL_WARNING
    HELPSUBITEM DID_WFORMAT, PANEL_FMTTYPE
    HELPSUBITEM DID_WQUICK,  PANEL_FMTTYPE
    HELPSUBITEM DID_WBOOTS,  PANEL_FMTTYPE
    HELPSUBITEM DID_WARN,    PANEL_WARNOFF
    }

MENU IDM_HELPMENU LOADONCALL MOVEABLE DISCARDABLE
    {
    MENUITEM "Help ~index",             SC_HELPINDEX,    MIS_SYSCOMMAND
    MENUITEM "~General Help",           SC_HELPEXTENDED, MIS_SYSCOMMAND
    MENUITEM "~Using help",             IDM_HFH,         MIS_HELP
    }

STRINGTABLE
    {
    IDS_ERROR_INV_DRV_TYPE  "invalid drive type"
    IDS_ERROR_INCOMP_TYPE   "incompatible drive type"
    IDS_ERROR_UNUSABLE      "Disk not usable"

    IDS_ALREADY_FORMATTED   "Disk is already formatted and has the name %1. "
    IDS_NONAME_FORMATTED    "Disk is already formatted and has no name. "
    IDS_DISK_ID             "The volume ID is %2:%3. "
    IDS_QST_FORMAT          "Format nevertheless?"
    IDS_INVALID_CHARACTER   "Name contains an invalid character"

    IDS_WRONGFMT            "Format of diskette differs from presumed one. "

    IDS_TRACKNUM            "Formatting track %1 of %2"
    IDS_LABEL               "Disk volume:"
    IDS_SWENTRY             "Format diskettes"

    IDS_HELP                "~Help"
    IDS_ABOUT               "~About"
    IDS_OPTION              "~Options"

    IDS_NAME                "The volume label is "
    IDS_NONAME              "The volume has no label"

    IDS_BTN_FMT             "~format"
    IDS_BTN_STOP            "~STOP"

    IDS_TITLE_STD           "Format"
    IDS_TITLE_EXT           "format: "

    IDS_HELPWINDOWTITLE     "Help for PMFORMAT"
    IDS_HELPLIBRARYNAME     "PMFORMAT.HLP"
    IDS_NOHELP              "Help is not available. The help file could not be found."

    IDS_VERSION             "This version of OS/2 is not supported. You need at least version 2.1"
    }
